html {
    background-color: rgb(173, 167, 167);
}
.page {
    display: grid;
    grid-template: 1fr 3fr 3fr/ 1fr 4fr 1fr;
    justify-content: center ;
    align-content: center;
}
.dashboard {
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
    grid-row: 1/ 4;
    gap: 50px;
    background-color: rgb(73, 107, 227);
    color: white;
    font-size: 2.4rem;
}
.projects {
    grid-row: 2/4;
    grid-column: 2/ 3;
    /* background-color: orange; */
    display: grid;
    grid-template: repeat(3,1fr)/repeat(2,1fr);
    gap: 30px;
    margin: 40px 20px;
    justify-content: flex-start;
}
.projects div {
    border: 2px solid white;
    border-radius: 5px;
}
.anouncements{
    grid-column: 3/4 ;
    grid-row: 2/3;
    /* background-color: rgb(211, 29, 29); */
    display: grid;
    gap: 15px;
    margin: 40px 20px;
    border: solid 2px rgb(198, 17, 17);
    border-radius: 5px;
}
.trending {
    grid-column: 3/4;
    grid-row: 3/4;
    /* background-color: green; */
    margin: 40px 20px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    border-radius: 10px;
    border: solid white 10px;
}
.top {
    grid-column: 2/4;
    background-color: white;
    display: grid;
    gap: 40px;
    align-self: center;
}
.toprow1 {
    display: grid;
    grid-template-columns: auto 1200px auto auto auto;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}
.toprow2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.toprow2-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.toprow2-options div {
    border: solid 5px white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: blue;
    font-size: 20px;
    justify-content: space-around;
    gap: 100px;
    width: minmax(20, 1fr);
}
.toprow2-icon {
    display: grid;
    grid-template: 1fr 2fr/1fr 5fr;
    align-items: center;
}
.user {
    grid-row: 2/3;
    grid-column: 2/3;
}
.icn {
    grid-row: 1/-1;
    grid-column: 1/2;
    justify-self: center;
}
/* h2 {
    position: absolute;
} */
/* .projects-title{
    grid-row: 2/span 1;
    grid-column: 5/ span 1;
    background-color: beige;
}
.a-title {
    background-color: aqua;
}
.trending-title {
    background-color: brown;
} */
.toprow2-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

 img {
    fill: white;
    background-color: red;
    color: white;
}


.material-symbols-outlined {
  font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}
.top .material-symbols-outlined {
    color: black;
    font-variation-settings:
    'FILL' 0
}
.toprow1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
span {
    padding: 30px;
}
